@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Poppins Italic'), local('Poppins-Italic'), url(https://fonts.gstatic.com/s/poppins/v13/pxiGyp8kv8JHgFVrJJLedw.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  font-size: 16px;
}
h2 {
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #3498db;
  margin: 2rem 0;
}
.img-container {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0 4.5rem 0;
}
.img-container img {
  width: 35%;
  padding: 1rem 2rem;
  display: block;
  border: 5px solid #3498db;
  border-radius: 5px;
  margin: 0 auto;
}
footer {
  background-color: #29293a;
  padding: 3rem 0;
}
footer .container {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
footer .container .coll1 {
  width: 50%;
  color: #fff;
}
footer .container .coll1 h3 {
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}
footer .container .coll1 h6 {
  font-size: 1.5rem;
  font-weight: 300;
}
footer .container .coll1 p {
  font-size: 1rem;
  font-weight: 200;
  margin-bottom: 1rem;
}
footer .container .coll1 ul {
  list-style: none;
  font-size: 1rem;
  font-weight: 200;
}
footer .container .coll1 ul li {
  margin: 1rem 0;
  position: relative;
  padding-left: 0.8rem;
}
footer .container .coll1 ul li i {
  font-size: 1rem;
}
footer .container .coll1 ul li::before {
  content: '';
  position: absolute;
  width: 3px;
  height: 19px;
  background: #FFf;
  left: 0;
}
footer .container .coll2 {
  width: 50%;
  color: #fff;
}
footer .container .coll2 h4 {
  font-weight: 400;
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 1rem;
}
footer .container .coll2 p {
  font-size: 1.1rem;
  font-weight: 200;
}
footer .container .coll2 .fa-map-marker-alt {
  font-size: 1.5rem;
  margin-bottom: 0.05rem;
}
footer .creditos {
  position: relative;
  width: 100%;
  color: #fff;
  bottom: 0;
}
footer .creditos p {
  position: absolute;
  bottom: 0;
  right: 25px;
  color: rgba(255, 255, 255, 0.07);
}
@media all and (max-width: 1216px) {
  footer .container .coll1 h3,
  footer .container .coll2 h4 {
    font-size: 1.5rem;
  }
  footer .container .coll1 h6 {
    font-size: 1rem;
  }
  footer .container .coll1 p {
    font-size: 0.85rem;
  }
  footer .container .coll1 ul li {
    margin: 0.75rem 0;
  }
  footer .container .coll2 p {
    font-size: 1rem;
  }
  footer .creditos p {
    font-size: 0.8rem;
  }
}
@media all and (max-width: 1080px) {
  .img-container img {
    width: 40%;
    padding: 0.5rem 1rem;
  }
}
@media all and (max-width: 900px) {
  h2 {
    font-size: 28px;
  }
  footer .container .coll1 h3,
  footer .container .coll2 h4 {
    font-size: 1.2rem;
  }
  footer .container .coll1 ul li {
    font-size: 0.85rem;
  }
  footer .container .coll2 p {
    font-size: 0.9rem;
  }
}
@media all and (max-width: 640px) {
  footer .container .coll2,
  footer .container .coll1 {
    width: 100%;
  }
  footer .container .coll2 {
    margin-top: 1.2rem;
  }
  footer .creditos p {
    bottom: -35px;
  }
  .img-container img {
    width: 45%;
    padding: 0.25rem 0.5rem;
  }
}
@media all and (max-width: 560px) {
  .img-container img {
    width: 80%;
    margin-bottom: 2rem;
  }
  h2 {
    font-size: 1.2rem;
    margin: 1.2rem 0;
  }
  .img-container {
    margin: 2rem 0;
  }
}
